.main_div {
   
    display: flex;
}
.img_div{
     
    width: 30%;
    
}
 
.img_div > img{
    width: 100%;
}
#sezzle{
    width: 15%;
}
.interest_sezzle{
    display: flex;
   
}
.interest{
    
}
.heading_div{
    
    width: 40%;
    /* height: 400px; */
}
.zip_calculate{
    display: flex;
    margin: auto;
}
.calculate{
   
}
.extra_products {
    display: flex;  
    
}
.extra_products div{
    
    margin: auto;
    width: 30%;
    margin: 10px;
}